{% extends 'base.html.twig' %}

{% block page_title %} Lista de Tratamientos {% endblock %}

{% block body %}

    <table class="table table-responsive table-bordered table">
        <thead class="thead-default">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for treatment in treatments %}
            <tr>
                <td><a href="{{ path('treatment_show', { 'id': treatment.id }) }}">{{ treatment.name }}</a></td>
                <td>{{ treatment.description }}</td>
                <td>{% if treatment.date %}{{ treatment.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('treatment_show', { 'id': treatment.id }) }}"><i
                                class="fa fa-edit"></i></a>

                    <a class="btn btn-danger" href="{{ path('treatment_edit', { 'id': treatment.id }) }}"><i
                                class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('treatment_new') }}"><i class="fa fa-plus pr-2"></i>Registrar Tratamiento</a>

{% endblock %}
