{% extends 'base.html.twig' %}

{% block page_title %}Tratamiento: {{ treatment.name }}{% endblock %}

{% block body %}


    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ treatment.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ treatment.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if treatment.date %}{{ treatment.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ treatment.id }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <a class="btn btn-secondary" href="{{ path('treatment_index') }}">Back to the list</a>
        <a class="btn btn-primary mx-2" href="{{ path('treatment_edit', { 'id': treatment.id }) }}">Edit</a>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>

{% endblock %}
