{% extends 'base.html.twig' %}

{% block page_title %} Editar usuario: {{ admin.username }} {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    {{ form_start(delete_form) }}
                    <div class="text-right w-100">
                        <input class="btn btn-danger" type="submit" value="Eliminar">
                    </div>
                    {{ form_end(delete_form) }}
                </div>
                {{ form_start(edit_form) }}
                <div class="card-body">
                    {{ form_widget(edit_form) }}
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" href="{{ path('admin_index') }}">Regresar a la lista</a>
                    <input class="btn btn-primary" type="submit" value="Guardar cambios"/>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>

{% endblock %}
