{% extends 'base.html.twig' %}

{% block page_title %} Lista de Usuarios {% endblock %}

{% block body %}

    <table class="table table-responsive table-bordered">
        <thead class="thead-default">
        <tr>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Foto</th>
            <th>Rol</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td><a href="{{ path('admin_show', { 'id': admin.id }) }}">{{ admin.username }}</a></td>
                <td>{{ admin.name }}</td>
                <td>{{ admin.lastname }}</td>
                <td>{{ admin.email }}</td>
                <td>{{ admin.phone }}</td>
                <td>{{ admin.photo }}</td>
                <td>{{ admin.role }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('admin_show', { 'id': admin.id }) }}"><i
                                class="fa fa-edit"></i></a>

                    <a class="btn btn-danger" href="{{ path('admin_edit', { 'id': admin.id }) }}"><i
                                class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('admin_new') }}"><i class="fa fa-plus pr-2"></i>Registrar Usuario</a>

{% endblock %}
