{% extends 'base.html.twig' %}

{% block page_title %}Usuario: {{ admin.username }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header text-center">
                    <h3>{{ admin.name }} {{ admin.lastname }}</h3>
                </div>
                <div class="card-body">
                    <p><i class="fa fa-user-o mr-2"></i>{{ admin.username }}</p>
                    <p><i class="fa fa-envelope-o mr-2"></i>{{ admin.email }}</p>
                    <p><i class="fa fa-phone mr-2"></i>{{ admin.phone }}</p>
                    <p><i class="fa fa-suitcase mr-2"></i>{{ admin.role }}</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <a class="btn btn-secondary" href="{{ path('admin_index') }}">Regresar a la lista</a>
                        <a class="btn btn-primary mx-2" href="{{ path('admin_edit', { 'id': admin.id }) }}">Editar</a>
                        {{ form_start(delete_form) }}
                        <input class="btn btn-danger" type="submit" value="Eliminar">
                        {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
