{% extends 'base.html.twig' %}

{% block page_title %} Lista de Sesiones {% endblock %}

{% block body %}

    <table class="table table-responsive table-bordered table-hover">
        <thead class="thead-default">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Alarma</th>
                <th>Fecha</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td><a href="{{ path('session_show', { 'id': session.id }) }}">{{ session.name }}</a></td>
                <td>{{ session.description }}</td>
                <td>{% if session.alarm %}{{ session.alarm|date('Y-m-d') }}{% endif %}</td>
                <td>{% if session.date %}{{ session.date|date('Y-m-d') }}{% endif %}</td>
                <td class="text-center">
                    <a class="btn btn-primary" href="{{ path('session_show', { 'id': session.id }) }}"><i
                                class="fa fa-eye"></i></a>

                    <a class="btn btn-danger" href="{{ path('session_edit', { 'id': session.id }) }}"><i
                                class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('session_new') }}"><i class="fa fa-plus pr-2"></i>Registrar Sesión</a>

{% endblock %}
