{% extends 'base.html.twig' %}

{% block page_title %}Sesión: {{ session.name }}{% endblock %}

{% block body %}

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ session.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ session.description }}</td>
            </tr>
            <tr>
                <th>Alarm</th>
                <td>{% if session.alarm %}{{ session.alarm|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if session.date %}{{ session.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ session.id }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <a class="btn btn-secondary" href="{{ path('session_index') }}">Back to the list</a>
        <a class="btn btn-primary mx-2" href="{{ path('session_edit', { 'id': session.id }) }}">Edit</a>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>

{% endblock %}
