{% extends 'base.html.twig' %}

{% block page_title %} Lista de Clientes {% endblock %}

{% block body %}

    <table class="table table-responsive table-bordered table-hover">
        <thead class="thead-default">
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Foto</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': client.id }) }}">{{ client.name }}</a></td>
                <td>{{ client.lastname }}</td>
                <td>{{ client.address }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.mail }}</td>
                <td>{{ client.photo }}</td>
                <td class="text-center">
                    <a class="btn btn-primary" href="{{ path('client_show', { 'id': client.id }) }}"><i
                                class="fa fa-eye"></i></a>

                    <a class="btn btn-danger" href="{{ path('client_edit', { 'id': client.id }) }}"><i
                                class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('client_new') }}"><i class="fa fa-plus pr-2"></i>Registrar Cliente</a>

{% endblock %}
