{% extends 'base.html.twig' %}

{% block page_title %} Lista de Turnos {% endblock %}

{% block body %}

    <table class="table table-responsive table-bordered table-hover">
        <thead class="thead-default">
        <tr>
            <th>Usuarios</th>
            <th>Fecha</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for shift in shifts %}
            <tr>
                <td><a href="{{ path('shift_show', { 'id': shift.id }) }}">{{ shift.idClient}}</a></td>
                <td>{% if shift.date %}{{ shift.date|date('Y-m-d') }}{% endif %}</td>
                <td class="text-center">
                    <a class="btn btn-primary" href="{{ path('shift_show', { 'id': shift.id }) }}"><i
                                class="fa fa-eye"></i></a>

                    <a class="btn btn-danger" href="{{ path('shift_edit', { 'id': shift.id }) }}"><i
                                class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('shift_new') }}"><i class="fa fa-plus pr-2"></i>Registrar Turno</a>

{% endblock %}
