{% extends 'base.html.twig' %}

{% block page_title %}Turno: {{ shift.id }}{% endblock %}

{% block body %}


    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{% if shift.date %}{{ shift.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ shift.id }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <a class="btn btn-secondary" href="{{ path('shift_index') }}">Back to the list</a>
        <a class="btn btn-primary mx-2" href="{{ path('shift_edit', { 'id': shift.id }) }}">Edit</a>
        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </div>

{% endblock %}
